<h3>Register</h3>

<form action="/visit" method="POST">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Your name:</label>
    <input name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="your name">
    <br/>
  </div>

  <button type="submit" class="btn btn-primary">Register</button>
</form>
