<h3>Register</h3>
<%= @message %>
<form action="/visit" method="POST">
  <div class="form-text">
    <label for="exampleInputEmail1" class="form-label">Your name:</label>
    <input name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="your name">
    <br/>
  </div>

  <div class="form-text">
    <label for="exampleInputEmail1" class="form-label">Your phone:</label>
    <input name="phone" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="your phone">
    <br/>
  </div>

  <div class="form-text">
    <label for="exampleInputEmail1" class="form-label">Date and time:</label>
    <input name="datatime" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="date and time">
    <br/>
  </div>

  <select name="master" class="form-select" aria-label="Default select example">
    <option selected>Select your master</option>
    <option value="1">Walter Wait</option>
    <option value="2">Jessie Pincman</option>
    <option value="3">Gus Frink</option>
  </select>
<br/>
<br/>

  <button type="submit" class="btn btn-primary">Register</button>
</form>
